{% extends 'blog/base.html' %}

{% block title %}Logged Out{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title mb-3">You have been logged out</h3>
                <p class="card-text">Thank you for visiting our blog!</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Log In Again</a>
                <a href="{% url 'home' %}" class="btn btn-outline-secondary">Back to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 